{% extends 'base.html' %}
{% load tags_mongo %}

{% block content %}
<h4>Список документов компании {{ company.full_name }} {{ collection.public_name }}</h4>
{% for document in document_list %}
<div class="card mt-2">
    <div class="card-header">
        <a href="{% url 'docs-detail' company_pk=company.url_name collection_pk=collection.url_name pk=document|ID %}">
            {{ document.Название}}
        </a>
        <a href="{% url 'docs-print' company_pk=company.url_name collection_pk=collection.url_name pk=document|ID %}"
            class="btn btn-outline-warning">
            Печать
        </a>
    </div>
    <div class="card-body">
        {% line_up values=document schema=collection.schema %}
    </div>
</div>
{% endfor %}

{% endblock content %}