{% extends 'base.html' %}
{% load tags_mongo %}

{% block content %}
<h4>Список документов компании {{ company.full_name }} {{ collection.public_name }}</h4>
{% for document in document_list %}
<div class="card mt-2">
    <div class="card-header">
        <a href="{% url 'docs-detail' company_pk=company.system_name collection_pk=collection.public_name pk=document|ID %}}">{{ document.Название}}</a>
    </div>
    <div class="card-body">
        {% for key, value in document.items %}
        {{ key }}: {{ value }} <br>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock content %}