{% extends 'base.html' %} &nbsp;{% block content %}
<h2>ИС "Универсальный личный кабинет 1С"</h2><p>


<div class="row">
    <div class="col-sm">
        Интеграция сайта с платформой 1С существенно упрощает работу с данными 
        путем автоматического обмена информацией между сайтом и 1С. 
        Основными плюсами интеграции являются:<br> 
        <ul>
            <li>Актуальность данных путем регулярного обмена данными сайта и 1С.</li>
            <li>Автоматическое формирование заказов и других документов 1С.</li>
            <li>Возможность оперативного информирования клиентов о процессе выполнения заказа в 1С в реальном времени с просмотром всех этапов.</li>
        </ul>

    </div>
    <div class="col-sm">
        <h4>Оставьте заявку</h4>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Ваше ФИО</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Иванов Иван Иванович">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Почта</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="test@test.ru">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Телефон</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="+7 (800) 555 35 35">
          </div>
          <button type="submit" class="btn btn-warning">Отправить</button>
    </div>
</div>

{% endblock content %}